section {
    @include breakpoint-down(medium) {
      max-width: 30rem;
      margin: auto;
      padding-bottom: 7rem;
    }
  
    @include breakpoint-up(large) {
      display: flex;
      .copy {
        padding: 3rem;
        flex: 1 0 0;
        text-align: left;
        display: flex;
        flex-flow: column;
        justify-content: center;
        max-width: 50rem;
      }
  
      .col2 {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 1rem;
        flex: 1 0 0;
        max-width: 45rem;
  
        &__trybutton {
          width: 80%;
          height: fit-content;
          padding: 0 1rem;
        }
  
        &__container {
          width: 80%;
        }
      }
    }
  }
  