//Colors
$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);
$LightGreen: hsl(154, 82%, 74%);
$ShadowGreen: hsl(154, 82%, 37%);
$HoverGreen: hsl(154, 74%, 70%);
$Blue: hsl(248, 32%, 49%);
$DarkBlue: hsl(249, 10%, 26%);
$GrayishBlue: hsl(246, 25%, 77%);
$White: hsl(0, 0%, 100%);

//Font Sizes
$Body-Font: 16px;
$Small-Font: 0.75rem;
